body{
    background-color: #eaea07;
}
::-webkit-scrollbar{
    display: none;
}
.container{
    background-color: whitesmoke;
    width: 1000px;
    height: 500px;
    position:absolute;
    overflow:scroll;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgb(38, 33, 61, 0.2);
}
.search-box{
    margin-left: 50px;
    margin-top: 80px;
}
.search-box p{
    display: flex;
    position: absolute;
    left: -250px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Supreme', sans-serif;
}
.search-box input{
    margin-left: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
}
.search-box button{
    padding: 5px;
    width: 100px;
    margin-left: 20px;
    background-color: white;
    border-color: white;
}   

#results{

    margin-left:5%;
    margin-top: 5%;
    padding: 10px;
    /* background-color: grey; */
}
#result .source{
    margin-top: 40px;
    border-left: 4px solid crimson;
    padding: 10px;
}